<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @project %>

    <%= link_to 'Edit this project', edit_project_path(@project), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this project', project_path(@project), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to projects', projects_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>

  <div class="mx-auto">
    <h2>Comments</h2>
    <ul>
      <% @project.comments.each do |comment| %>
        <li><%= comment.comment %></li>
      <% end %>
    </ul>

    <h2>Add a comment</h2>
    <%= form_with(model: [ @project, @project.comments.build ]) do |form| %>
      <%= form.label :body %>
      <div class="my-5">
        <%= form.label :comment %>
        <%= form.text_field :text_area, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <%= form.hidden_field :project_id, value: @project.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <% end %>
  </div>

</div>
